@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.2%;
    font-family: 'Hanken Grotesk';
}
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    border-radius: 2rem;
    box-shadow: 5px 20px 20px rgba(46,43,233,0.1);
}
.result {
    width: 400px;
    height: 500px;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(0deg, rgba(46,43,233,1) 0%, rgba(78,33,202,1) 100%);
    color: #fff;
    border-radius: 2rem;
}
.result h2 {
    font-size: 2rem;
    color: #ddd;
    margin-bottom: 5rem;
}
.result-ether {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    background: linear-gradient(0deg, rgba(46,43,233,1) 0%, rgb(59, 27, 148) 100%);
}
#result {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 8rem;
    font-weight: 800;
    background: none;
    color: #fff;
}
#resultText {
    position: absolute;
    font-size: 8rem;
    font-weight: 800;
    background: none;
    color: #fff;
}
.result-info {
    position: absolute;
    bottom: 5vh;
    color: #bbb;
    font-size: 1.6rem;
}
#result-title {
    margin-top: 2rem;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
#result-description {
    font-size: 1.4rem;
    color: #ddd;
}
.summary {
    width: 400px;
    height: 500px;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.form-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.form-title h2 {
    font-size: 2rem;
    margin-bottom: 4rem;
}
.erro-info {
    font-size: 1.2rem;
    font-weight: 700;
    color: #f00;
}
.summary ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.summary li {
    list-style: none;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4rem;
}
.reaction {
    color: hsl(0, 100%, 67%);
}
.memory {
    color: hsl(39, 100%, 56%);
}
.verbal {
    color: hsl(166, 100%, 37%);
}
.visual {
    color: hsl(234, 85%, 45%);
}
input {
    width: 30px;
    outline: none;
    border: none;
    font-size: 1.4rem;
    font-weight: 700;
    background-color: #ddd;
}
.btn {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#btn {
    width: 80%;
    height: 4rem;
    background: linear-gradient(0deg, rgba(46,43,233,1) 0%, rgb(59, 27, 148) 100%);
    color: #fff;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
#btn:hover {
    letter-spacing: 1px;
}
#btn:disabled {
    opacity: 75%;
    cursor: auto;
}
#reload {
    border: none;
    background: none;
    cursor: pointer;
}
@media(max-width: 768px) {
    .container {
        flex-direction: column;
    }
}